# Table of Contents

### Prepare Notebook
### 2. Find the aggregated mean
### 3. How do the mean results differ from the subset within the lesson?
### 4. Create a loyalty flag for customers
### 5. Find any differences in the spending habits of the customer classes
### 6. Create a spending flag for each user based on average price
### 7. Create an order frequency flag
### 9. Export dataframe

### Prepare Notebook

In [1]:
#Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Define variable 'path'

path = r'C:\Users\PC Planet\Desktop\Self-Education\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [3]:
#Import dataframe

opm = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_newcol.pkl'))

### 2. Find the aggregated mean

In [4]:
opm.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3. How do the mean results differ from the subset within the lesson?

All departments have representation within the set. All the means except department 17 have decreased.

### 4. Create a loyalty flag for customers

In [5]:
#Create new column with the maximum order number for users

opm['max_order'] = opm.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
#Check result

opm.head(10)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regular Day,Average Orders,10
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day,Average Orders,10
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day,Most Orders,10
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day,Average Orders,10
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day,Most Orders,10
5,5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regular Day,Average Orders,10
6,6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,10
7,7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,10
8,8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,10
9,9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slow Day,Average Orders,10

In [7]:
#Set flags for column

opm.loc[opm['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

In [8]:
opm.loc[(opm['max_order'] <=40) & (opm['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [11]:
opm.loc[opm['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [12]:
opm['loyalty_flag'].value_counts(dropna = False)

Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: loyalty_flag, dtype: int64

### 5. Find any differences in the spending habits of the customer classes

In [17]:
opm.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal Customer    10.386336  1.0  99999.0
New Customer      13.294670  1.0  99999.0
Regular Customer  12.495717  1.0  99999.0

The data would indicate that the newer the customer, the more they spend. This could be due to a number of factors: loyal customers may learn how to navigate deals, or perhaps they order more often and need fewer items per use (leaving high priced items to be purchased more sparingly in each order), or maybe even their familiarity with the platform means there are certain items they do not trust others to purchase for them.

### 6. Create a spending flag for each user based on average price

In [23]:
#Create new column for average price of products per user

opm['average_price'] = opm.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
#Check result

opm.head(15)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,0,2539329,1,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Mid-range product,Regular Day,Average Orders,10,New Customer,6.367797
1,1,2398795,1,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797
2,2,473747,1,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slow Day,Most Orders,10,New Customer,6.367797
3,3,2254736,1,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797
4,4,431534,1,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slow Day,Most Orders,10,New Customer,6.367797
5,5,3367565,1,6,2,7,19.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regular Day,Average Orders,10,New Customer,6.367797
6,6,550135,1,7,1,9,20.0,196,1,1,...,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,10,New Customer,6.367797
7,7,3108588,1,8,1,14,14.0,196,2,1,...,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,10,New Customer,6.367797
8,8,2295261,1,9,1,16,0.0,196,4,1,...,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,10,New Customer,6.367797
9,9,2550362,1,10,4,8,30.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797
10,144,2968173,15,15,1,9,7.0,196,2,0,...,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,22,Regular Customer,3.980556
11,146,1870022,15,17,2,16,8.0,196,6,1,...,77,7,9.0,both,Mid-range product,Regular Day,Most Orders,22,Regular Customer,3.980556
12,147,1911383,15,18,2,11,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regular Day,Most Orders,22,Regular Customer,3.980556
13,150,2715276,15,21,1,9,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,22,Regular Customer,3.980556
14,151,487368,15,22,1,10,14.0,196,1,1,...,77,7,9.0,both,Mid-range product,Busy Day,Most Orders,22,Regular Customer,3.980556

In [25]:
#Set flags

opm.loc[opm['average_price'] < 10, 'spending_flag'] = 'Low Spender'

In [26]:
opm.loc[opm['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [27]:
#Check results

opm['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

In [28]:
opm.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,0,2539329,1,1,2,8,NaN,196,1,0,...,7,9.0,both,Mid-range product,Regular Day,Average Orders,10,New Customer,6.367797,Low Spender
1,1,2398795,1,2,3,7,15.0,196,1,1,...,7,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797,Low Spender
2,2,473747,1,3,3,12,21.0,196,1,1,...,7,9.0,both,Mid-range product,Slow Day,Most Orders,10,New Customer,6.367797,Low Spender
3,3,2254736,1,4,4,7,29.0,196,1,1,...,7,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797,Low Spender
4,4,431534,1,5,4,15,28.0,196,1,1,...,7,9.0,both,Mid-range product,Slow Day,Most Orders,10,New Customer,6.367797,Low Spender

### 7. Create an order frequency flag

In [29]:
#Create new column for median frequency of use

opm['median_frequency'] = opm.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [30]:
#Check results

opm.head(20)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_frequency
0,0,2539329,1,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regular Day,Average Orders,10,New Customer,6.367797,Low Spender,20.5
1,1,2398795,1,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797,Low Spender,20.5
2,2,473747,1,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Slow Day,Most Orders,10,New Customer,6.367797,Low Spender,20.5
3,3,2254736,1,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797,Low Spender,20.5
4,4,431534,1,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Slow Day,Most Orders,10,New Customer,6.367797,Low Spender,20.5
5,5,3367565,1,6,2,7,19.0,196,1,1,...,9.0,both,Mid-range product,Regular Day,Average Orders,10,New Customer,6.367797,Low Spender,20.5
6,6,550135,1,7,1,9,20.0,196,1,1,...,9.0,both,Mid-range product,Busy Day,Most Orders,10,New Customer,6.367797,Low Spender,20.5
7,7,3108588,1,8,1,14,14.0,196,2,1,...,9.0,both,Mid-range product,Busy Day,Most Orders,10,New Customer,6.367797,Low Spender,20.5
8,8,2295261,1,9,1,16,0.0,196,4,1,...,9.0,both,Mid-range product,Busy Day,Most Orders,10,New Customer,6.367797,Low Spender,20.5
9,9,2550362,1,10,4,8,30.0,196,1,1,...,9.0,both,Mid-range product,Slow Day,Average Orders,10,New Customer,6.367797,Low Spender,20.5
10,144,2968173,15,15,1,9,7.0,196,2,0,...,9.0,both,Mid-range product,Busy Day,Most Orders,22,Regular Customer,3.980556,Low Spender,10.0
11,146,1870022,15,17,2,16,8.0,196,6,1,...,9.0,both,Mid-range product,Regular Day,Most Orders,22,Regular Customer,3.980556,Low Spender,10.0
12,147,1911383,15,18,2,11,7.0,196,1,1,...,9.0,both,Mid-range product,Regular Day,Most Orders,22,Regular Customer,3.980556,Low Spender,10.0
13,150,2715276,15,21,1,9,7.0,196,1,1,...,9.0,both,Mid-range product,Busy Day,Most Orders,22,Regular Customer,3.980556,Low Spender,10.0
14,151,487368,15,22,1,10,14.0,196,1,1,...,9.0,both,Mid-range product,Busy Day,Most Orders,22,Regular Customer,3.980556,Low Spender,10.0
15,209,2293453,19,2,5,14,6.0,196,3,0,...,9.0,both,Mid-range product,Regular Day,Most Orders,9,New Customer,8.372059,Low Spender,6.0
16,212,1973799,19,5,6,12,8.0,196,15,1,...,9.0,both,Mid-range product,Regular Day,Most Orders,9,New Customer,8.372059,Low Spender,6.0
17,214,532817,19,7,4,17,6.0,196,1,1,...,9.0,both,Mid-range product,Slow Day,Average Orders,9,New Customer,8.372059,Low Spender,6.0
18,232,1573906,21,10,3,10,6.0,196,2,0,...,9.0,both,Mid-range product,Slow Day,Most Orders,33,Regular Customer,7.012683,Low Spender,7.5
19,458,1593000,31,10,3,8,7.0,196,17,0,...,9.0,both,Mid-range product,Slow Day,Average Orders,20,Regular Customer,8.137793,Low Spender,6.0

In [31]:
#Create frequency flag column

opm.loc[opm['median_frequency'] > 20, 'user_frequency'] = 'Non-Frequent Customer'

In [32]:
opm.loc[(opm['median_frequency'] > 10) & (opm['median_frequency'] <= 20), 'user_frequency'] = 'Regular Customer'

In [33]:
opm.loc[opm['median_frequency'] <= 10, 'user_frequency'] = 'Frequent Customer'

In [34]:
#Check results

opm['user_frequency'].value_counts(dropna = False)

Frequent Customer        21559853
Regular Customer          7208564
Non-Frequent Customer     3636437
NaN                             5
Name: user_frequency, dtype: int64

In [35]:
#Create subset to view NaN values for further assessment

opm_nan = opm[opm['user_frequency'].isnull() == True]
opm_nan

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_frequency,user_frequency
13645692,2655584,895835,159838,1,0,17,NaN,10749,3,0,...,both,Mid-range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
17251990,2655584,895835,159838,1,0,17,NaN,33401,6,0,...,both,Mid-range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
17622767,2655584,895835,159838,1,0,17,NaN,23695,2,0,...,both,Low range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
24138593,2655584,895835,159838,1,0,17,NaN,21334,5,0,...,both,Mid-range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
25880002,2655584,895835,159838,1,0,17,NaN,22198,1,0,...,both,Low range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN

In [36]:
#View all user 159838's order IDs

opm[opm['user_id'] == 159838]

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_frequency,user_frequency
13645692,2655584,895835,159838,1,0,17,NaN,10749,3,0,...,both,Mid-range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
17251990,2655584,895835,159838,1,0,17,NaN,33401,6,0,...,both,Mid-range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
17622767,2655584,895835,159838,1,0,17,NaN,23695,2,0,...,both,Low range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
24138593,2655584,895835,159838,1,0,17,NaN,21334,5,0,...,both,Mid-range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN
25880002,2655584,895835,159838,1,0,17,NaN,22198,1,0,...,both,Low range product,Busy Day,Average Orders,1,New Customer,7.42,Low Spender,NaN,NaN

In [37]:
#Add new frequency flag for handling NaN

opm.loc[opm['median_frequency'].isnull() == True, 'user_frequency'] = 'One-Time Customer'

In [38]:
#Recheck value counts

opm['user_frequency'].value_counts(dropna = False)

Frequent Customer        21559853
Regular Customer          7208564
Non-Frequent Customer     3636437
One-Time Customer               5
Name: user_frequency, dtype: int64

### 9. Export dataframe

In [39]:
opm.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_with_flags.pkl'))